"course_name","students"
"流行樂賞析與實務","415"
"音樂文化導引","188"
"表演藝術與實作","47"
"戲劇賞析","331"
"朝聖的世界史","86"
"傳統戲曲與表演藝術","54"
"戲劇製作","51"
"電影藝術與生活","128"
"女性文學選讀","80"
"女性文學選讀","72"
"臺灣古典文學","116"
"愛爾蘭歷史與文化","448"
"佛教思想與現代社會","136"
"跨文化溝通的建構與實踐","160"
"語言學概論: 語言的科學及應用","130"
"近代世界的形成（16至20世紀）","73"
"解碼台灣當代電影","141"
"臺灣閩南語曲謠之詞曲賞析與實務","111"
"漫遊藝術","334"
"客家文化導論","168"
"基督思想","317"
"藝術叩門","862"
"韓語與韓國文化","309"
"死亡文化史","534"
"音樂舞蹈戲劇","147"
"音樂舞蹈戲劇","281"
"巴洛克時期至浪漫樂派的音樂與作品探討","190"
"古典音樂在臺灣的實踐","61"
"生命故事與個人觀點下的民族誌","144"
"數位音樂創作","112"
"作曲家與音樂敘事","133"
"音樂與旅行","448"
"亞洲電影配樂風格賞析","371"
"世界音樂賞析","361"
"越南社會與文化","71"
"近代歐洲文學與文化","73"
"基本人權案例分析","262"
"民刑事法律案例分析","397"
"性別關係","206"
"台灣原住民族當代議題與社會實踐","141"
"心理學","825"
"心理學","705"
"創意思考","414"
"心理急救你我他—從心理疾病復元之生命敘事","160"
"家庭關係","1164"
"應用統計","151"
"拖延心理學：理論篇","1884"
"潛能開發-魅力學","300"
"現代社會與刑罰","491"
"生活經濟學","346"
"運動經濟學","704"
"權力與秩序：台灣、中國、日本與美國的政治發展與挑戰","157"
"從心理學看成功老化","533"
"中藥與健康","256"
"實驗生物模式概論","146"
"魔術與全人醫療","252"
"職能治療與健康","498"
"疾病媒介","136"
"與婦產科醫師的對話","132"
"生物多樣性","956"
"生命科學概論","838"
"情緒與壓力管理","1905"
"食品安全與衛生","175"
"兒童青少年的健康","141"
"基因改造食品的好與壞","104"
"急難救助","350"
"動物寄生蟲與生活","355"
"家庭與健康","323"
"日常疼痛控制","1577"
"身體結構與功能","203"
"生命故事傳遞生命動力","185"
"高齡輔具","119"
"肌肉解剖與肌力訓練入門","272"
"運動醫學與科學入門","170"
"生活中之細胞功能運作","103"
"潛意識與神經科學","189"
"心血管保健之道","231"
"生活中的毒物","593"
"光電科技導論","44"
"探索臺灣的海洋：海洋科學概論","104"
"應用化學與實驗","52"
"應用化學與實驗","70"
"環境污染與防治","138"
"材料科技概論","111"
"界面化學的生活應用","155"
"認知神經科學導論","112"
"應用電學","335"
"安全耐震我的家","220"
"科技與國防","233"
"未來戰爭決勝時刻：資訊戰","199"
"發現台灣在地脊椎動物化石","187"
"虛擬世界之設計與研究","212"
"數位人文：典藏與策展","67"
"台語說醫病","143"
"通識教育:變動世界之素養與技能","228"
"三創與設計思維","287"
"無障礙智慧生活環境","175"
"工程的哲學、歷史與社會學研究入門","90"
"生醫用工程學導論","182"
"設計思考遇見生成式ＡＩ應用之旅","230"
"生態工程概論","146"
"校園文化資產","179"
"開放資料與智慧生活","87"
"諾貝爾生醫獎得主所改變的世界","703"
"智慧科技與運動治療","190"
"健康照護志願服務之理念與實作","72"
"系統思維與統計應用—人文與科技","36"
"資料科學應用與專利資訊畫布","109"
"朗讀者：錄製有聲書服務視障者","121"
"ＡＩ在音樂創作與編曲中的應用","161"
"科技與生命價值","241"
"藝術治療與情緒:理論與實作","315"
"環境,職業與健康人生","327"
"高齡者的教育與學習","39"
"從電影與繪本談老年","67"
"永續發展目標（SDGS）概論","138"
"半導體通路商產業分析","94"
"薪傳之言","165"
"通識教育生活實踐（一）","0"
"通識教育生活實踐（二）","0"
"通識教育生活實踐（三）","0"
"通識教育生活實踐（一）","0"
"通識教育生活實踐（甲）","0"
"通識教育生活實踐（乙）","0"
"通識教育生活實踐（丙）","0"
"通識教育生活實踐（丁）","0"
"通識教育生活實踐（戊）","0"
"通識教育生活實踐（己）","0"
"通識專題講座-大學導航","426"
"拍出跨域資訊應用首部曲--python","185"
"個人品牌經營-職涯發展與就業增能","130"
"薩提爾成長模式自我探索及關係對話","202"
